{% extends "page_signalizer/base.html" %}

{% block body %}

<h2>Login</h2>
<br>
<div class="container"> 
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card">
                <br>
                <form method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            {{ field.name}}
                            {{ field }}
                        </div>
                    {% endfor %}
                    <br>
                    <button type="submit" class="btn btn-success">Log-in</button>
                </form>
                <br>
                
            </div>
        </div>
    </div>
</div>

{% endblock %}