{% extends "page_signalizer/base.html" %}

{% block body %}

<h2>Update Item</h2>
<br>

<div class="container"> 
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card">
                <br>
                {% if is_permitted %}
                <form method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            {{ field.name}}
                            </br>
                            {{ field }}
                        </div>
                    {% endfor %}
                    <br>
                    <button type="submit" class="btn btn-success">Confirm</button>
                </form>
                {% else %}
                    <a href="{% url 'core:home' %}"><button class="btn btn-danger">You have no permissions to modify this template</button></a>  
                {% endif %}
                <br>
            </div>
        </div>
    </div>
</div>

{% endblock %}